body {
  margin: 0px;
  padding: 0px;
  font-family: Montserrat;
  color: #303030;
}

#busca {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 3px solid #228B22;
  text-align: center;
  color: #383838;
  font-size: 15pt;
  width: 80%;
}

#busca:focus {
  text-align: left;
}


#btn-buscar{
  background-color: #88c4ee;
  padding: 5px;
  border: 3px solid #228B22;
  border-radius: 40px 40px 40px 40px;
  color: #303030;
  font-size: 16pt;
}

#busca-div{
  display: block;
  background-color: #f9e934;
  width: 100%;
  height: 8.54%;
  margin-top: 18px;
  padding: 0px;
  text-align: center;
}

#saida {
  display: none;
  margin-top: 35px;
  background-color: #88c4ee;
  padding: 1%;
  left: 0px;
  right: 0px;
  position: absolute;
  font-size: 20px;
  top: 6%;
}
#nav{
  background-color: #f9e934;
  width: 100%;
  margin-top: 0px;
  float: left;
  border-radius: 5px;
  position: fixed;
  top: 0px;
}
#nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
#nav ul li{
  float: left;
  font: 16px arial;
}
#nav ul li a{
  padding: 10px;
}
#nav_pags{
  background-color: #f9e934;
  width: 100%;
  margin-top: 0px;
  float: left;
  border-radius: 5px;
  position: fixed;
  top: 0px;
}
#nav_pags ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
#nav_pags ul li{
  float: left;
  font: 16px arial;
}
#nav_pags ul li a{
  padding: 10px;
}
#sobre{
  background-color: #88c4ee;
  margin-top: 35px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  font-size: 20px;
}
#nav ul li a:hover{
  text-decoration: underline;
	color: #228B22;
}
#nav ul li a{
  text-decoration: none;

}
#nav_pags ul li a:hover{
  text-decoration: underline;
	color: #228B22;
}
#nav_pags ul li a{
  text-decoration: none;

}
