body {
  margin: 0px;
  padding: 0px;
  font-family: Montserrat;
  color: #303030;
}

#busca {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 3px solid #35533e;
  text-align: center;
  color: #383838;
  font-size: 15pt;
  width: 80%;
}

#busca:focus {
  text-align: left;
}

#btn-buscar{
  background-color: rgba(0, 0, 0, 0);
  padding: 5px;
  border: 1px solid #303030;
  border-radius: 40px 40px 40px 40px;
  color: #303030;
  font-size: 14pt;
}

#busca-div{
  display: block;
  background-color: #ffffff;
  width: 100%;
  height: 6%;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

#saida {
  display: none;
  background-color: #d0d0d0;
  padding: 3%;
  position: absolute;
  top: 6%;
}
#nav{
  background-color: inherit;
  width: 100%;
  margin-top: 50px;
  float: left;
  border-radius: 5px
}
#nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
#nav ul li{
  float: left;
  font: 16px arial;
}
#nav ul li a{
  padding: 10px;
}
#nav_pags{
  background-color: inherit;
  width: 100%;
  margin-top: 10px;
  float: left;
  border-radius: 5px
}
#nav_pags ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
#nav_pags ul li{
  float: left;
  font: 16px arial;
}
#nav_pags ul li a{
  padding: 10px;
}
